
<h1>New Todo</h1>

<%= form_with scope: :todo, url: todos_path, local: true do |form| %>
  <p>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
  </p>
  
  <p>
  <%= form.label :description %><br>
  <%= form.text_area :description %>
  </p>
  
  <p>
  <%= form.label :duedate %><br>
  <%= datetime_local_field(:todo, :duedate) %>
  </p>

  <p>
  <%= form.label :priority %><br>
  <%= form.select :priority, Todo.priorities.keys%>
  </p>
  
  <p>
  <%= form.submit %>
  </p>
<% end %>